@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", "sans serf";
  margin: 0;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
@media (max-width: 385px) {
  .navbar .links {
    display: flex;
    flex-direction: column;
  }
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
.blog-perview {
  padding: 10px 16px;
  margin: 40px 0;
  border-right: 2px solid black;
  background: linear-gradient(to left, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.7s ease-out;
}
.blog-perview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background-position: right bottom;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.blog-perview h2 {
  font-size: 1.2rem;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-perview p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  transition: all 0.3s ease-out;
  display: block;
}
.blog-perview:hover p {
  color: white;
}

.btn {
  background-color: #f1356d;
  color: wheat;
  border-radius: 10px;
  padding: 7px 15px;
  margin: 10px;
  border-style: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: #db3025;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #f1356d;
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #db25b7;
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: #d72af9;
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: #69157a;
  height: 34px;
  width: 34px;
  top: 35px;
}

.text-loading {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin: 400px 0;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 40px 20px;
}
.card img{
  border-radius: 15px;
  width: 300px;
  height: 300px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
